body {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

body::after {
  content: "";
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/1-nzoRO/javascript-code-on-dark-editor-background-shot-close-up-while-scrolling-the-page-and-randomly-changing-focus-point_hpgulg8gx__F0000.png");
  opacity: 0.;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.header {
  font-family: 'consolata', monospace;
  color: white;
}
