html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.Navcontainer {
  margin: 0px;
  max-width: 100%;
}

body::after {
  content: "";
<<<<<<< HEAD
  background: linear-gradient( rgba(0, 0, 0, 2.0), rgba(0, 0, 0, 0.5) ), url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/1-nzoRO/javascript-code-on-dark-editor-background-shot-close-up-while-scrolling-the-page-and-randomly-changing-focus-point_hpgulg8gx__F0000.png") center no-repeat;
=======
  background: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url("https://pace.oregonstate.edu/sites/default/files/styles/course_banner_large/public/images/course/cover/pace-oregon-state-html-css-coding-web-design.jpg?itok=tNEZncCn") center no-repeat;
>>>>>>> stylingKyle
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  font-family: 'consolata', monospace;
  color: white;
}

#modal {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
  height: auto;
}

#modalSignUp {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
  height: auto;
}


input{
  width: 100%;
  margin-bottom: 10px;
}

#submit {
  width: 100%;
}

#closeModal{
  float: right;
}

#createLink{
  width: auto;
}
.jumbotron {
  background: rgba(172, 164, 164, 0.75);
}
.developer {
  color: rgb(241, 164, 63)
}
.blue {
  color: rgb(7, 92, 172)
}
.purple {
  color: purple;
}
