html {
  min-height: 100%;
}

body {
  height: auto;
  width: 100%;
  position: relative;
  display: block;
  color: white
}

.container {
  max-width:100%;
}

.Navcontainer {
  margin: 0px;
  max-width: 100%;
}

body::after {
  content: "";
  background: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url("https://pace.oregonstate.edu/sites/default/files/styles/course_banner_large/public/images/course/cover/pace-oregon-state-html-css-coding-web-design.jpg") center;
  background-size: cover;
  background-repeat: repeat-y;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  font-family: 'consolata', monospace;
  color: white;
}

#modal {
  margin: auto;
  width: 40%;
  border: 3px solid white;
  padding: 7px;
  background-color: black;
  border-radius: 3%;  
  left: 50%;
  margin-left: -25%;
  position: relative;
  text-align: center
}

#modalSignUp {
  margin: auto;
  width: 40%;
  border: 3px solid white;
  padding: 7px;
  height: auto;
  background-color: black;
  border-radius: 3%;
  left: 50%;
  margin-left: -25%;
  position: relative;
  text-align: center;
}

#closeModalSignUp {
  float: right;
  color: red;
  background-color: black;
  text-shadow: none;
}

.success-button {
  width: 125px;
  border-radius: 3%;
}

#closeModal{
  float: right;
  color: red;
  background-color: black;
  text-shadow: none;
}

h1 {
  margin-bottom: 5px;
  color: whitesmoke;
  padding-top: none
}

input{
  width: 50%;
  margin-bottom: 10px;
}

#submit {
  width: 25%;
  margin-top: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5%;
}

#createLink{
  width: auto;
}
.jumbotron {
  
  
  border: 1px solid cyan;
  padding: 0;
}
.developer {
  color: rgb(241, 164, 63)
}
.blue {
  color: rgb(7, 92, 172)
}
.purple {
  color: rgb(223, 88, 223);
}
.green {
  color: rgb(1, 194, 1);
}
.red {
  color: rgb(255, 41, 41);
  
}
.lightBlue {
  color: rgb(132, 209, 235);
}
.yellow {
  color: yellow;
}