html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  position: relative;
  display: block;
  color: white
}

.currentPage {
  font-family: 'consolata', monospace;
  color: white;
}

.snippet-result {
  padding: 20px 10px;
}

.resultHolder {
  padding-bottom: 80px;
}
