.footer {
    height: 60px;
    width: 100%;
    position: absolute; 
    bottom: 0;
    background-color: rgba(25, 25, 25, 0.9);
  border-top: 0.5px solid rgb(7, 7, 7);
  z-index: 10;
  text-align: center;
}
#gitLink {
    color: white;
    
   
}
.linkGit {
    color: white;
    display: inline-flex;
    margin-top: 20px;
}