.header {
  font-family: 'consolata', monospace;
}

.fullLogo {
  position: absolute;
  cursor: pointer;
  height: 66px;
  width: 190px;
  border-radius: 15%;
}

.fullLogo:hover .logoIMG {
  opacity: 1 !important;
  transition: 0.3s ease-in;
}

#bitHub {
  position: absolute;
  left: 60px;
}

.logoIMG {
  position: absolute;
  transition: 0.3s ease-out;
}

#resourcesLink:hover, #searchLink:hover, #newsnippetLink:hover, #mysnippetsLink:hover {
  opacity: 1 !important;
  -webkit-text-stroke: 1px;
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}

.nav-link {
  font-family: 'consolata', monospace;
  color: rgb(255, 41, 41);
  opacity: .7;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0px;
  /* -webkit-text-stroke: .5px rgb(25, 25, 25); */
  transition: 0.3s ease-out;
}
.fullLogo:hover #bitHub{
  color: rgb(255, 41, 41);
  opacity: 1;
  /* -webkit-text-stroke: 1.5px ; */
  text-shadow: .5px .5px ;
  transition: 0.3s ease-in;
}

.saveSnippetBtn {
  /* margin-right: 33% !important; */
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  border-color: green;
  margin-left: 30px;
  margin-top: 0px !important;
}

.languageText {
  font-size: 25px;
  font-family: 'consolata', monospace;
  margin-left: 20%;
  margin-right: 10px;
  padding-top: 25px;
  display: inline-block;
}

.saveSnippetBtn:hover {
  color: whitesmoke;
  background-color: green;
  border-color: whitesmoke;
}

.updateButton {
  color: green;
  border-color: green;
  margin-left: 30px;
}

.updateButton:hover {
  background-color: green;
  border-color: green;
}

.deleteButton {
  color: red;
  border-color: red;
  margin-left: 10px;
}

.deleteButton:hover {
  border-color: red;
  background-color: red;
}

h1 {
  font-family: 'consolata', monospace;
  margin-top: auto;
  margin-bottom: auto;
}

h2 {
  padding: auto;
}

.navbar-nav {
  float: right;
  margin-left: auto;
}

.navbar {
  height: 75px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.5);
  border-bottom: 0.5px solid rgb(7, 7, 7);

}

.userName {
  padding-left: 3px;
  margin: auto;
  cursor: pointer;
}

container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.snippetTitle {
  font-size: 35px;
  font-family: 'consolata', monospace;
  /* -webkit-text-stroke: .5px red; */
  color: whitesmoke;
}

.createdby {
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 13px;
  font-family: 'consolata', monospace;
  display: inline-block;
}

.datecreated {
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 13px;
  font-family: 'consolata', monospace;
  display: inline-block;
}

.language {
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 13px;
  font-family: 'consolata', monospace;
  display: inline-block;
}

#modal {
  margin: auto;
  top: 50%;
  width: 40%;
  height: 225px;
  border: 3px solid white;
  padding: 7px;
  margin-top: -100px;
  background-color: black;
  border-radius: 3%;  
  left: 50%;
  margin-left: -20%;
  position: fixed;
  text-align: center;
  z-index: 30;
}

#modalSignUp {
  margin: auto;
  top: 50%;
  width: 40%;
  border: 3px solid white;
  padding: 7px;
  height: 225px;
  background-color: black;
  border-radius: 3%;
  left: 50%;
  margin-left: -20%;
  margin-top: -100px;
  position: fixed;
  text-align: center;
  z-index: 40;
}

#closeModalSignUp {
  float: right;
  color: red;
  background-color: black;
  text-shadow: none;
}

#openModal {
  height: 45%;
  border-radius: 10%;
  margin-top: 16px;
  margin: 10px;
}

.languageButtonJS {
  margin-bottom: 15px;
}

.languageButtonHTML {
  margin-bottom: 15px;
}

.languageButtonCSS {
  margin-bottom: 15px;
}