.header {
  font-family: 'consolata', monospace;
}

.nav-link {
  font-family: 'consolata', monospace;
  color: rgb(255, 41, 41);
  opacity: .7;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0px;
  -webkit-text-stroke: .5px rgb(25, 25, 25);
  transition: 0.2s ease-out;
}
.nav-link:hover {
  color: rgb(255, 41, 41);
  opacity: 1;
  -webkit-text-stroke: 1.5px ;
  text-shadow: .3px .3px ;
  transition: 0.3s ease-in;
}

h1 {
  font-family: 'consolata', monospace;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-nav {
  float: right;
  margin-left: auto;
}

.navbar {
  height: 75px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.5);
  border-bottom: 0.5px solid rgb(7, 7, 7);

}

container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}